{% load static %} 
<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Xtreme Biking</title>

        <style>
            html, body {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                position: relative;
            }
        </style>

        <script type="text/javascript">
          var user = '{{request.user}}'

          function getToken(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          var csrftoken = getToken('csrftoken')

          function getCookie(name) {
              // Split cookie string and get all individual name=value pairs in an array
              var cookieArr = document.cookie.split(";");

              // Loop through the array elements
              for(var i = 0; i < cookieArr.length; i++) {
                  var cookiePair = cookieArr[i].split("=");

                  /* Removing whitespace at the beginning of the cookie name
                  and compare it with the given string */
                  if(name == cookiePair[0].trim()) {
                      // Decode the cookie value and return
                      return decodeURIComponent(cookiePair[1]);
                  }
              }

              // Return null if not found
              return null;
          }
          var cart = JSON.parse(getCookie('cart'))

          if (cart == undefined){
            cart = {}
            console.log('Cart Created!', cart)
            document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
          }
          console.log('Cart:', cart)

        </script>
        <style>
            .dropdown:hover .dropdown-menu {
                display: block;
            }
        </style>
    </head>

    <body class="min-h-screen flex flex-col">
        <nav class="flex-shrink-0">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-6xl p-4">
                <a href="{% url 'frontpage' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'img/xtreme-logo.png' %}" class="h-16" alt="xtreme-logo" />
                </a>
                {% if user.is_authenticated %}
                <div class="flex items-center space-x-6 rtl:space-x-reverse">
                    <div class="dropdown z-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                            <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="{% url 'client_dashboard' %}">Mi cuenta</a></li>
                            <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="{% url 'accounts:logout' %}">Cerrar sesión</a></li>
                          </ul>
                    </div>

                    <a class="flex" href="{% url 'cart' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-cart3 text-black" viewBox="0 0 16 16">
                            <path stroke="black" stroke-width="0.25px" stroke-linecap="round" stroke-linejoin="round" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                          </svg>
                        {% if cartItems > 0 %}
                        <p id="cartTotal" style="background: #a3cb64;" class="ml-2 rounded px-1 text-white">{{cartItems}}</p>
                        {% endif %}
                    </a>
                </div>
                {% else %}
                <div class="flex items-center space-x-6 rtl:space-x-reverse w-[400px]">
                    <a style="background: #a3cb64;"
                        class="rounded-md px-5 py-2.5 text-sm whitespace-nowrap font-medium text-white shadow"
                        href="{% url 'accounts:login' %}"
                    >
                        Iniciar sesión
                    </a>
            
                    <a style="color: #a3cb64;"
                    class="rounded-md bg-white px-5 py-2.5 text-sm font-medium"
                    href="{% url 'accounts:signup' %}"
                    >
                    Registrarme
                    </a>
                    <div class="border-r-1 border border-gray-300 py-2.5"></div>
                    <a class="flex" href="{% url 'cart' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-cart3 text-black" viewBox="0 0 16 16">
                            <path stroke="black" stroke-width="0.25px" stroke-linecap="round" stroke-linejoin="round" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                          </svg>
                        {% if cartItems > 0 %}
                        <p id="cartTotal" style="background: #a3cb64;" class="ml-2 rounded px-1 text-white">{{cartItems}}</p>
                        {% endif %}
                    </a>
                </div>
                {% endif %}
            </div>
        </nav>
        <nav class="border-b border-gray-300 bg-zinc-200 flex-shrink-0">
            <div class="max-w-6xl px-4 py-3 mx-auto">
                <div class="flex justify-between items-center">
                    <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                        <li>
                            <a href="{% url 'frontpage' %}" class="text-gray-900 hover:underline">Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" class="text-gray-900 hover:underline">Sobre nosotros</a>
                        </li>
                        <li>
                            <a href="{% url 'catalogue' %}" class="text-gray-900 hover:underline">Catálogo</a>
                        </li>
                        <li>
                            <a href="{% url 'search_orders' %}" class="text-gray-900 hover:underline">Seguimiento</a>
                        </li>
                    </ul>
                    {% block query %}
                    <form class="relative"  action="{% url 'search_results' %}" method="get">
                        <label for="Search" class="sr-only"> Search </label>
                        <input
                            type="text"
                            id="Search"
                            name="q"
                            placeholder="Busca por producto, categoría..."
                            class="rounded-md border-gray-200 py-2.5 pe-10 ps-2.5 shadow-sm w-[400px] focus:outline-none focus:ring-0 focus:border-gray-400"
                        />

                        <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
                            <button type="submit" class="text-gray-600 hover:text-gray-700">
                            <span class="sr-only">Search</span>

                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-4 w-4"
                            >
                                <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                                />
                            </svg>
                            </button>
                        </span>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </nav>

        <main class="flex-grow flex flex-col">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="bg-gray-100 flex-shrink-0">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <p>&copy; 2023 Xtreme Biking</p>
                <p>Hecho con &hearts; por Xtremeware</p>
            </div>
        </footer>
        
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    </body>
</html>