{% extends 'base.html' %}

{% load static %}

{% block content %}
<header style="background-color: #a3cb64;" class="px-6 py-10 lg:py-20 w-full">
    <div class="max-w-6xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">Bienvenido a Xtreme Biking</p>

        <p class="mb-10 text-white">Prepárate para pedalear con nuestras bicicletas y accesorios de alta calidad</p>

        <a href="{% url 'catalogue' %}" style="color: #a3cb64;"
            class="inline-block px-8 py-4 rounded-xl bg-white hover:bg-gray-200">Compra ya</a>
    </div>
</header>

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 h-full">

    <div class="text-center py-6">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
            Productos destacados
        </h2>
    </div>

    <div class="products grid gap-4 grid-cols-3 w-full">
        {% for product in products %}
        <div class="group relative overflow-hidden mt-8 flex flex-col justify-between">
            <a href="{% url 'product_details' producto_id=product.id %}">
                <img src="{{product.image_url}}" alt=""
                    class="h-64 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72" />

                    <div class="relative border border-gray-100 bg-white p-6 h-full flex flex-col justify-between">
                    {% if product.availability > 0 %}
                    <span class="whitespace-nowrap bg-green-400 px-3 py-1.5 text-xs font-medium text-white">
                        Disponible
                    </span>
                    {% else %}
                    <span class="whitespace-nowrap bg-red-400 px-3 py-1.5 text-xs font-medium text-white">
                        No disponible
                    </span>
                    {% endif %}

                    <h3 class="mt-4 text-lg font-medium text-gray-900">{{product.title}}</h3>

            </a>
            <div class="mt-4">
                <p class="mt-1.5 text-sm text-gray-700">{{product.price}}Є</p>
                <div class="w-full my-2">
                    <label for="Quantity" class="sr-only"> Quantity </label>

                    <div class="flex items-center justify-between border border-gray-200 rounded">
                        <button onClick='decreaseCount(event, this, "{{product.id}}")' type="button"
                            class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75 down">
                            &minus;
                        </button>

                        <input type="number" id="Quantity" value="1"
                            class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />

                        <button onClick='increaseCount(event, this, "{{product.id}}")' type="button"
                            class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75 up">
                            &plus;
                        </button>
                    </div>
                </div>
                <button id="add-cart-{{product.id}}" data-action="add-quantity" data-product="{{product.id}}"
                    data-redirect="{% url 'cart' %}" data-quantity="1" style="background-color: #a3cb64;"
                    class="block rounded w-full  p-4 text-sm font-medium transition hover:scale-105 text-white update-cart">
                    Añadir al carrito
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<a href="{% url 'catalogue' %}" style="color: #a3cb64;" class="my-6 flex px-8 py-4 justify-center">
    Ver más
    <svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="#a3cb64" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 12h13M12 5l7 7-7 7" />
    </svg>
</a>

</div>
{% endblock %}