{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="max-w-6xl mx-auto py-6 px-6 xl:px-0 items-center flex flex-wrap justify-center">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img class="rounded-xl" src="{{ product.image_url }}">
    </div>

    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">{{product.title}}</h1>

        <p class="mt-1 text-gray-400">{{product.price}}€</p>

        <p class="mt-6 text-gray-700">{{product.description}}</p>

        {% if product.availability == 0 %}
        <h3>Este producto se encuentra agotado</h3>
        {% else %}
        <button data-product="{{product.id}}" data-action="add" data-redirect="{% url 'cart' %}" data-quantity="1" style="background-color: #a3cb64;" class="update-cart mt-6 inline-block px-8 py-4 rounded-xl text-white">Añadir al carrito</button>
        {% endif %}

    </div>
</div>
{% endblock %}