
{% extends 'base.html' %}

{% load static %} 

{% block content %}


<section>
  <div class="mx-auto max-w-6xl px-6 py-12">
    <header>
      <div class="flex flex-col">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
          Catálogo de productos
        </h2>
  
        <p class="mt-4 max-w-md text-gray-500">
          Los productos se ecuntran ordenados en diferentes secciones, según su categoría.
        </p>
      </div>
    </header>

    <div class="mt-8 block lg:hidden">
      <button
        class="flex cursor-pointer items-center gap-2 border-b border-gray-400 pb-1 text-gray-900 transition hover:border-gray-600"
      >
        <span class="text-sm font-medium"> Filters & Sorting </span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-4 w-4 rtl:rotate-180"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
    </div>

    <div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-4 lg:items-start lg:gap-8">
      <div class="hidden space-y-4 lg:block">

        <div class="relative">
          <p class="block text-xs font-medium text-gray-700 mb-1">Búsqueda</p> 
          <label for="Search" class="sr-only"> Buscar productos </label>
        
          
            <input
              type="text"
              id="Search"
              placeholder="Buscar por título"
              class="w-full rounded-md border-gray-200 py-2.5 pe-10 ps-2 shadow-sm sm:text-sm"
            />
        
            <span class="absolute inset-y-0 end-0 grid w-10 place-content-center mt-4">
              <button type="button" id="searchButton" class="text-gray-600 hover:text-gray-700">
                <span class="sr-only">Search</span>
        
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  />
                </svg>
              </button>
            </span>
        </div>

        <div>
          <p class="block text-xs font-medium text-gray-700">Filtrar por categoría</p>

          <div class="mt-1 space-y-2">
            <details
              class="overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden"
            >
              <summary
                class="flex cursor-pointer items-center justify-between gap-2 p-4 text-gray-900 transition"
              >
                <span class="text-sm font-medium"> Categoría </span>

                <span class="transition group-open:-rotate-180">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-4 w-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                  </svg>
                </span>
              </summary>

              <div class="border-t border-gray-200 bg-white">

                <ul class="space-y-1 border-t border-gray-200 p-4">
                  <li>
                    <label
                      for="FilterInStock"
                      class="inline-flex items-center gap-2"
                    >
                      <input
                        type="checkbox"
                        id="mountain"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Bicicletas de montaña
                      </span>
                    </label>
                  </li>

                  <li>
                    <label
                      for="FilterInStock"
                      class="inline-flex items-center gap-2"
                    >
                      <input
                        type="checkbox"
                        id="urban"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Bicicletas urbanas
                      </span>
                    </label>
                  </li>

                  <li>
                    <label
                      for="FilterInStock"
                      class="inline-flex items-center gap-2"
                    >
                      <input
                        type="checkbox"
                        id="road"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Bicicletas de carretera
                      </span>
                    </label>
                  </li>

                  <li>
                    <label
                      for="FilterInStock"
                      class="inline-flex items-center gap-2"
                    >
                      <input
                        type="checkbox"
                        id="accessories"
                        class="h-5 w-5 rounded border-gray-300"
                      />

                      <span class="text-sm font-medium text-gray-700">
                        Accesorios
                      </span>
                    </label>
                  </li>
                </ul>
              </div>
            </details>

            
            
          </div>
        </div>
      </div>
      
      <div class="lg:col-span-3">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl" id="header">
          Bicicletas de montaña
        </h2> 
        <div class="mt-4"></div>
        <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
          {% for product in products_mountain %}
          <li class="product-item" data-title="{{ product.title | lower }}" category="{{product.category}}">
            <a class="block overflow-hidden rounded-xl" href="/store/product_details/{{ product.id }}">
                <img src="{{product.image_url}}" class="hover:shadow-lg h-[250px] w-full object-cover transition duration-500 hover:scale-105 sm:h-[350px]">
            </a>

            <div class="pt-3 flex items-center justify-between">
                <a class="product-title" href="/store/product_details/{{ product.id }}">{{product.title}}</a>

                {% if product.availability == 0 %}
                <h3></h3>
                {% else %}
                <a href="#" style="color: #a3cb64;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                    </svg>
                </a>
                {% endif %}
            </div>
            <div class="pt-3 flex items-center justify-between">
              <p class="pt-1 text-gray-400">{{product.price}} €</p>
              {% if product.availability == 0 %}
              <h3>Agotado</h3>
              {% else %}
              <div class="amount_section" data-availability="{{ product.availability }}">
                <h3 style="display: inline;">Cantidad:</h3>
                  <p style="display: inline;">
                    <button onclick="updateQuantity(this, 'decrease')">-</button>
                    <span class="quantity" style="color: black;">1</span>
                    <button onclick="updateQuantity(this, 'increase')">+</button>
                  </p>
              </div>
              {% endif %}
            </div>
           </li>
          {% endfor %}
        </ul>
        <script>
          function updateQuantity(element, action) {
            var quantityElement = element.parentNode.querySelector('.quantity');
            var quantity = parseInt(quantityElement.innerText);
            var availability = element.closest('.amount_section').dataset.availability;
        
            if (action === 'decrease' && quantity > 1) {
              quantity--;
            } else if (action === 'increase' && quantity < availability) {
              quantity++;
            }
        
            quantityElement.innerText = quantity;
          }
        </script>
        
        <hr class="my-8 border-gray-300" id="line1">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl" id="header1">
          Bicicletas urbanas
        </h2> 
        <div class="mt-4"></div>
        <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
          {% for product in products_urban %}
          <li class="product-item" data-title="{{ product.title | lower }}" category="{{product.category}}">
            <a class="block overflow-hidden rounded-xl" href="/store/product_details/{{ product.id }}">
                <img src="{{product.image_url}}" class="hover:shadow-lg h-[250px] w-full object-cover transition duration-500 hover:scale-105 sm:h-[350px]">
            </a>

            <div class="pt-3 flex items-center justify-between">
                <a href="/store/product_details/{{ product.id }}">{{product.title}}</a>

                {% if product.availability == 0 %}
                <h3></h3>
                {% else %}
                <a href="#" style="color: #a3cb64;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                    </svg>
                </a>
                {% endif %}
            </div>

            <div class="pt-3 flex items-center justify-between">
              <p class="pt-1 text-gray-400">{{product.price}} €</p>
              {% if product.availability == 0 %}
              <h3>Agotado</h3>
              {% else %}
              <div class="amount_section" data-availability="{{ product.availability }}">
                <h3 style="display: inline;">Cantidad:</h3>
                  <p style="display: inline;">
                    <button onclick="updateQuantity2(this, 'decrease')">-</button>
                    <span class="quantity2" style="color: black;">1</span>
                    <button onclick="updateQuantity2(this, 'increase')">+</button>
                  </p>
              </div>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
        <script>
          function updateQuantity2(element, action) {
            var quantityElement = element.parentNode.querySelector('.quantity2');
            var quantity = parseInt(quantityElement.innerText);
            var availability = element.closest('.amount_section').dataset.availability;
        
            if (action === 'decrease' && quantity > 1) {
              quantity--;
            } else if (action === 'increase' && quantity < availability) {
              quantity++;
            }
        
            quantityElement.innerText = quantity;
          }
        </script>
        
        <hr class="my-8 border-gray-300" id="line2">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl" id="header2">
          Bicicletas de carretera
        </h2> 
        <div class="mt-4"></div>
        <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
          {% for product in products_road %}
          <li class="product-item" data-title="{{ product.title | lower }}" category="{{ product.category }}">
            <a class="block overflow-hidden rounded-xl" href="/store/product_details/{{ product.id }}">
                <img src="{{product.image_url}}" class="hover:shadow-lg h-[250px] w-full object-cover transition duration-500 hover:scale-105 sm:h-[350px]">
            </a>

            <div class="pt-3 flex items-center justify-between">
                <a href="/store/product_details/{{ product.id }}">{{product.title}}</a>

                {% if product.availability == 0 %}
                <h3></h3>
                {% else %}
                <a href="#" style="color: #a3cb64;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                    </svg>
                </a>
                {% endif %}
            </div>
            <div class="pt-3 flex items-center justify-between">
              <p class="pt-1 text-gray-400">{{product.price}} €</p>
              {% if product.availability == 0 %}
              <h3>Agotado</h3>
              {% else %}
              <div class="amount_section" data-availability="{{ product.availability }}">
                <h3 style="display: inline;">Cantidad:</h3>
                  <p style="display: inline;">
                      <button onclick="updateQuantity3(this, 'decrease')">-</button>
                      <span class="quantity3" style="color: black;">1</span>
                      <button onclick="updateQuantity3(this, 'increase')">+</button>
                  </p>
              </div>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
        <script>
          function updateQuantity3(element, action) {
            var quantityElement = element.parentNode.querySelector('.quantity3');
            var quantity = parseInt(quantityElement.innerText);
            var availability = element.closest('.amount_section').dataset.availability;
        
            if (action === 'decrease' && quantity > 1) {
              quantity--;
            } else if (action === 'increase' && quantity < availability) {
              quantity++;
            }
        
            quantityElement.innerText = quantity;
          }
        </script>
        <hr class="my-8 border-gray-300" id="line3">
        <h2 class="text-xl font-bold text-gray-900 sm:text-3xl" id="header3">
          Accesorios y recambios
        </h2> 
        <div class="mt-4"></div> 
        <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
          {% for product in accessories %}
          <li class="product-item" data-title="{{ product.title | lower }}" category="{{product.category}}">
            <a class="block overflow-hidden rounded-xl" href="/store/product_details/{{ product.id }}">
                <img src="{{product.image_url}}" class="hover:shadow-lg h-[250px] w-full object-cover transition duration-500 hover:scale-105 sm:h-[350px]">
            </a>

            <div class="pt-3 flex items-center justify-between">
                <a href="/store/product_details/{{ product.id }}">{{product.title}}</a>
                {% if product.availability == 0 %}
                <h3></h3>
                {% else %}
                <a href="#" style="color: #a3cb64;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                    </svg>
                </a>
                {% endif %}
            </div>
            <div class="pt-3 flex items-center justify-between">
              <p class="pt-1 text-gray-400">{{product.price}} €</p>
              {% if product.availability == 0 %}
              <h3>Agotado</h3>
              {% else %}
              <div class="amount_section" data-availability="{{ product.availability }}">
                <h3 style="display: inline;">Cantidad:</h3>
                  <p style="display: inline;">
                      <button onclick="updateQuantity4(this, 'decrease')">-</button>
                      <span class="quantity4" style="color: black;">1</span>
                      <button onclick="updateQuantity4(this, 'increase')">+</button>
                  </p>
              </div>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
        <script>
          function updateQuantity4(element, action) {
            var quantityElement = element.parentNode.querySelector('.quantity4');
            var quantity = parseInt(quantityElement.innerText);
            var availability = element.closest('.amount_section').dataset.availability;
        
            if (action === 'decrease' && quantity > 1) {
              quantity--;
            } else if (action === 'increase' && quantity < availability) {
              quantity++;
            }
        
            quantityElement.innerText = quantity;
          }
        </script>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    function searchProducts() {
      const searchTerm = $('#Search').val().toLowerCase();

      $.ajax({
        type: 'GET',
        url: '/store/buscar-productos/', 
        data: { search: searchTerm },
        success: function (response) {  
          // Limpiar la sección de productos
          $('.product-item').hide();
          $('#header').hide();
          $('#header1').hide();
          $('#header2').hide();
          $('#header3').hide();
          $('#line1').hide();
          $('#line2').hide();
          $('#line3').hide();


          // Mostrar solo los productos que coinciden con la búsqueda
          response.products.forEach((product) => {
            $(`.product-item[data-title*="${product.title.toLowerCase()}"]`).show();
          });
        },
        error: function (error) {
          console.error('Error en la búsqueda', error);
        }
      });
    };
    $('#searchButton').click(searchProducts);

    $('#Search').keyup(searchProducts);
  });
</script>
<script>
    const mountainCheckbox = document.getElementById('mountain');
    const urbanCheckbox = document.getElementById('urban');
    const roadCheckbox = document.getElementById('road');
    const accessoriesCheckbox = document.getElementById('accessories');

    // Obtener todos los elementos de producto
    const productItems = document.getElementsByClassName('product-item');

    // Event listeners para los checkboxes
    mountainCheckbox.addEventListener('change', filterProducts);
    urbanCheckbox.addEventListener('change', filterProducts);
    roadCheckbox.addEventListener('change', filterProducts);
    accessoriesCheckbox.addEventListener('change', filterProducts);

    // Función para filtrar los productos y mostrar/ocultar según la categoría seleccionada
    function filterProducts() {
      const mountainChecked = mountainCheckbox.checked;
      const urbanChecked = urbanCheckbox.checked;
      const roadChecked = roadCheckbox.checked;
      const accessoriesChecked = accessoriesCheckbox.checked;

      // Verificar si ningún checkbox está seleccionado
      const noCategorySelected = !mountainChecked && !urbanChecked && !roadChecked && !accessoriesChecked;

      Array.from(productItems).forEach(item => {
        const category = item.getAttribute('category');

        // Mostrar todos los productos si ninguna categoría está seleccionada
        if (noCategorySelected) {
          item.style.display = 'block';
        } else {
          // Mostrar u ocultar productos según las categorías seleccionadas
          const showMountain = mountainChecked && category === 'Bicicleta de montaña';
          const showUrban = urbanChecked && category === 'Bicicleta urbana';
          const showRoad = roadChecked && category === 'Bicicleta de carretera';
          const showAccessories = accessoriesChecked && category === 'Accesorio';

          if (showMountain || showUrban || showRoad || showAccessories) {
            item.style.display = 'block';
          } else {
            item.style.display = 'none';
          }
        }
      });

      // Ocultar o mostrar el encabezado y la línea según si hay al menos un checkbox activado
      const header = document.getElementById('header');
      const header1 = document.getElementById('header1');
      const line1 = document.getElementById('line1');
      const header2 = document.getElementById('header2');
      const line2 = document.getElementById('line2');
      const header3 = document.getElementById('header3');
      const line3 = document.getElementById('line3');

      if (noCategorySelected) {
        header.style.display = 'block';
        header1.style.display = 'block';
        header2.style.display = 'block';
        header3.style.display = 'block';
        line1.style.display = 'block';
        line2.style.display = 'block';
        line3.style.display = 'block';
      } else {
        header.style.display = 'none';
        header1.style.display = 'none';
        header2.style.display = 'none';
        header3.style.display = 'none';
        line1.style.display = 'none';
        line2.style.display = 'none';
        line3.style.display = 'none';
      }
    }
</script>


{% endblock %}