{% load static %} 

<!doctype  html>
<html  lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
<title>Xtreme Biking</title>
</head>
<body class="min-h-screen flex flex-col">
    <main class="flex flex-col flex-grow min-h-full">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-100 flex-grow-0">
        <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
            <p>&copy; 2023 Xtreme Biking</p>
            <p>Hecho con &hearts; por Xtremeware</p>
        </div>
    </footer>
</html>