{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="max-w-6xl mx-auto p-6 w-full">

    <nav aria-label="Breadcrumb">
        <ol class="flex items-center gap-1 text-sm text-gray-600">

            <li>
                <a href="{% url 'client_dashboard' %}" class="block transition hover:text-gray-700"> Mi cuenta </a>
            </li>

            <li class="rtl:rotate-180">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd" />
                </svg>
            </li>

            <li>
                <p style="color: #a3cb64;" class="block font-bold"> Mis pedidos </a>
            </li>
        </ol>
    </nav>

    <h1 class="my-5 text-3xl">Mis pedidos</h1>

    <div class="grid grid-cols-1 gap-8">
        {% for order in orders %}
        <div style="background: #a3cb64;" class="h-fit p-4 rounded-lg text-white flex flex-col justify-between">
            <div class="flex flex-col">
                <p><strong>Identificador de pedido:</strong> {{order.transaction_id}}</p>
                <p><strong>Fecha de pedido:</strong> {{order.date_ordered}}</p>
                <p><strong>Total:</strong> {{order.total}} €</p>
            </div>
            {% for item in order.orderitem_set.all %}
            <hr>
            <div class="flex flex-col">
                <p><strong>Producto: </strong> {{item.product.title}} </p>
                <p><strong>Cantidad:</strong> {{item.quantity}} </p>
                <p><strong>Estado:</strong> {{item.status}} </p>
            </div>
            {% endfor %}
            <hr>
            <div class="flex flex-col">
                {% for shipping_address in order.shippingaddress_set.all %}
                <p><strong>Dirección:</strong> {{ shipping_address.address }}, {{ shipping_address.city }}, {{ shipping_address.state }} {{ shipping_address.zipcode }}</p>
                {% endfor %}
            </div>
            <div class="flex flex-row flex-wrap">
                {% if order.has_review %}
                <a href="{% url 'edit_review' order_id=order.id%}"><strong>Editar valoración</strong></a>
                {% else %}
                <a href="{% url 'create_review' order_id=order.id%}"><strong>Escribir valoración</strong></a>
                {% endif %}

                {% if order.has_claim %}
                <a href="{% url 'edit_claim' order_id=order.id%}" class="border-l-2 border-white px-3 mx-2"><strong>Editar reclamación</strong></a>
                {% else %}
                <a href="{% url 'create_claim' order_id=order.id%}" class="border-l-2 border-white px-3 mx-2"><strong>Escribir reclamación</strong></a>
                {% endif %}
               
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}